{% extends 'base_menu.html' %}
{% load static %}

{% block title %} Premiações {% endblock title %}

{% block content %}

<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-margin-top">

    <div class="uk-flex uk-flex-between full-width">
        <h1>Premiações</h1>
        <div>
            <button uk-toggle="target: #my-id" type="button" class="uk-button">Adicionar</button>
        </div>
    </div>

    <hr class="uk-divider-icon full-width">

    <dl class="uk-description-list uk-description-list-divider full-width">
        {% for award in awards %}
        <div class="uk-flex">
            <span uk-icon="icon: happy; ratio: 2"></span>
            <div class="uk-margin-left">
                <dt><a href="">{{ award.title }}</a></dt>
                <dd>{{ award.description }}</dd>
            </div>
        </div>
        <hr>
        {% empty %}
        <label>Nenhuma premiação cadastrada!</label>
        {% endfor %}
    </dl>
</div>

<div id="my-id" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Adicionar premiação</h2>
        {% include 'ranking/award/widgets/award_form.html' %}
    </div>
</div>

{% endblock content %}