<form method="post">
    {% csrf_token %}

    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Dados pessoais</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Nome" aria-label="Input" name="first_name"
                id="first_name">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Sobrenome" aria-label="Input" name="last_name"
                id="last_name">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Indentificador|Matricular" aria-label="Input"
                name="identifier" id="identifier">
        </div>
    </fieldset>

    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Contato</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Contato" aria-label="Input" name="contact" id="contact">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="E-mail" aria-label="Input" name="mail" id="mail">
        </div>

        <div class="uk-margin">
            <select class="uk-select" aria-label="Select" name="sector" id="sector">
                <option value="1">Setor 01</option>
                <option value="2">Setor 02</option>
            </select>
        </div>
    </fieldset>

    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Acesso</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Senha" aria-label="Input" name="password"
                id="password">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Repetir senha" aria-label="Input"
                name="repeat_password" id="repeat_password">
        </div>
    </fieldset>
    <button class="uk-button" type="submit">Cadastrar</button>
    <button class="uk-modal-close uk-button" type="button">Cancelar</button>
</form>