{% extends 'base_menu.html' %}
{% load static %}

{% block title %} Ação {% endblock title %}

{% block content %}

<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-margin-top">

    <div class="uk-flex uk-flex-between full-width">
        <h1>{{ title }} -> {{ sector.name }}</h1>
        <div>
            <a href="#" class="uk-button">Cancelar</a>
        </div>
    </div>

    <hr class="uk-divider-icon full-width">

    {% include 'ranking/ranking/widgets/action_form.html' %}
</div>

{% endblock content %}