{% extends 'base_menu.html' %}
{% load static %}

{% block title %} Users {% endblock title %}

{% block content %}

<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-margin-top">

    <div class="uk-flex uk-flex-between full-width">
        <h1>Usuários</h1>
        <div>
            <button uk-toggle="target: #my-id" type="button" class="uk-button">Adicionar</button>
        </div>
    </div>

    <hr class="uk-divider-icon">

    <dl class="uk-description-list uk-description-list-divider full-width">
        {% for employee in employeers %}
        {% if employee.user %}
        <div class="uk-flex">
            <span uk-icon="icon: user; ratio: 2"></span>
            <div class="uk-margin-left">
                <dt>Servidor: {{ employee.identifier }} - {{ employee.user.get_full_name }}</dt>
                <dd>{{ employee.sector|default:'Sem setor' }}</dd>
            </div>
        </div>
        <hr>
        {% endif %}
        {% empty %}
        <label>Nenhum usuário cadastrado!</label>
        {% endfor %}
    </dl>
</div>

<div id="my-id" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Adicionar colaborador</h2>

        {% include 'users/widgets/user_form.html' %}

    </div>
</div>

{% endblock content %}