{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Setor Responsável {% block title %} {% endblock title %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script defer src="{% static 'js/uikit.min.js' %}"></script>
    <script defer src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>

<body style="background-color: #f2f4f3;" class="force-full-height">

    {% if messages %}
    <ul class="messages" style="position: fixed; bottom: 10px; right: 10px;">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} uk-alert>
            <a href class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% block body %}
    {% endblock body %}

</body>

</html>